################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inventory Project/Sample/bin/Debug/~$Import Parties Template.xlsx
